<center style="margin-top: 12%;">
  <h1 style="font-size: 50px;color: #39779c;font-family: arial,sans-serif;">Properties Bot</h1>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form>
        <div class="form-group">
          <% if @location %>
            <input type="text" list="locations" id="search_property_00" class="form-control" name="search" style="height: 50px;font-size: 23px;color: #39779c"
                   placeholder="NW3 5TY or Waterloo Station" value="<%= @location %>">
            <% else %>
            <input type="text" list="locations" id="search_property_00" class="form-control" name="search" style="height: 50px;font-size: 23px;color: #39779c"
                   placeholder="NW3 5TY or Waterloo Station">
            <% end %>

          <datalist id="locations">
          </datalist>
        </div>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</center>

<% if @is_search_string_present %>
  <div class="container">
    <hr>
    Total <b><%= @available_properties.count %></b> results found.
    <% if @available_properties.count == 0 %>
      ( <span style="color: green">Your request has been queued. Please check in few minutes</span> )
    <% end %>
  </div>
<% end %>


<script>
    $('#search_property_00').on('input',function(e){
        var keyword = $('#search_property_00').val();
        $("#locations").empty();
        $.get('/location_suggester?location=' + keyword)
            .done(function(response) {
                for(var i = 0; i < response.length; i++){
                    console.log(response[i]);
                    $("#locations").append('<option value="'+ response[i] +'"></option>');
                }
            });
    });
</script>